{% extends "layout.html" %}
{% block body %}
<h1>{{ title }}</h1>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav" id="navbar-item-list">
        <li id="navbar-item-passbook"><a href="#">通帳</a></li>
        <li id="navbar-item-settings"><a href="#">設定</a></li>
        <li id="navbar-item-deshilist"><a href="#">でしリスト</a></li>
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        -->
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="">
        </div>
        <button type="submit" class="btn btn-default">検索</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="necco-content" id="id-necco-content-passbook">
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th>いつ</th>
        <th>誰から</th>
        <th>誰に</th>
        <th>何を</th>
        <th>いくらで</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ record["dealed_at"] }}</td>
        <td>{{ record["from_whom"] }}</td>
        <td>{{ record["to_whom"] }}</td>
        <td>{{ record["what"] }}</td>
        <td>
          {% if record["price_yen"] != 0 %}
            {{ record["price_yen"] }}円と
          {%- endif %}
          {% if record["price_necco"] != 0 %}
            {{ record["price_necco"] }}ねっこ
          {%- endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "pagenation.html" %}
</div>
<div class="necco-content" id="id-necco-content-settings" style="display:none">
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th>お名前</th>
        <th>ニックネーム</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ name }}</td>
        <td>{{ nickname }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="necco-content" id="id-necco-content-deshilist" style="display:none">
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th>お名前</th>
        <th>おところ</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr>
        <td>{{ name }}</td>
        <td>{{ address }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "pagenation.html" %}
</div>
{% endblock %}
