{% extends "layout.html" %}
{% block body %}

<div class="loading"><img src="{{ url_for('static', filename='loading.gif') }}"></div>

<div class="necco-content" id="contentPassbook">
  <div class="overlay"></div>
  {% include "passbook.html" %}
  {% include "pagenation.html" %}
</div>

<div class="necco-content" id="contentSettings">
  <div class="overlay"></div>
  {% include "settings.html" %}
</div>

<div class="necco-content" id="contentAbilities">
  <div class="overlay"></div>
  {% include "pagenation.html" %}

<div class="necco-content" id="contentRequests">
  <div class="overlay"></div>
  {% include "pagenation.html" %}
</div>

{% endblock %}
