{% extends "layout.html" %}
{% block body %}

<div class="icon-loading"><img src="{{ url_for('static', filename='img/loading.gif') }}"></div>

<div class="content-loading" id="contentPassbook">
  <div class="content-overlay"></div>
  {% include "passbook.html" %}
  {% include "pagenation.html" %}
</div>

<div class="content-loading" id="contentSettings">
  <div class="content-overlay"></div>
  {% include "settings.html" %}
</div>

<div class="content-loading" id="contentAbilities">
  <div class="content-overlay"></div>
  {% include "pagenation.html" %}
</div>

<div class="content-loading" id="contentRequests">
  <div class="content-overlay"></div>
  {% include "pagenation.html" %}
</div>

{% endblock %}
